sch/rule/7-38a.xml

  <!-- NDR6 rule 7-38 (same as NDR5 rule 9-12) -->
  <pattern id="rule7-38a" xmlns="http://purl.oclc.org/dsdl/schematron">
    <title>Model component has data definition</title>
    <rule context="xs:simpleType">
      <assert test="some $definition in xs:annotation/xs:documentation[1] satisfies
                         string-length(normalize-space(string($definition))) &gt; 0"
        >Rule 7-38: In CMF, a Component object MUST be a documented component.  In XSD, a type definition, element declaration, or attribute declaration MUST be a documented component</assert>
    </rule>
  </pattern>
