sch/rule/7-38c.xml

  <!-- NDR6 rule 7-38 (same as NDR5 rule 9-37) -->
  <pattern id="rule7-38c" xmlns="http://purl.oclc.org/dsdl/schematron">
    <title>Model component has data definition</title>
    <rule context="xs:element[exists(@name)]">
      <assert test="some $definition in xs:annotation/xs:documentation[1] satisfies
                         string-length(normalize-space(string($definition))) &gt; 0"
        >Rule 7-38: A type definition, element declaration, or attribute declaration MUST be a documented component</assert>
    </rule>
  </pattern>
