sch/rule/7-39.xml

  <!-- NDR6 rule 7-39 (same as NDR5 rule 9-14) -->
  <pattern id="rule7-39" xmlns="http://purl.oclc.org/dsdl/schematron">
    <title>Enumeration facet has data definition</title>
    <rule context="xs:enumeration">
      <assert test="some $definition in xs:annotation/xs:documentation[1] satisfies
                         string-length(normalize-space(string($definition))) &gt; 0"
        >Rule 7-39: An xs:enumeration facet MUST be a documented component.</assert>
    </rule>
  </pattern>
