sch/rule/7-52.xml

  <!-- NDR6 rule 7-52 (same as NDR5 rule 11-38) -->
  <pattern id="rule7-52" xmlns="http://purl.oclc.org/dsdl/schematron">
    <title>Standard opening phrase for picture property data definition</title>
    <rule context="*[(self::xs:element or self::xs:attribute)
                        and ends-with(@name, 'Picture') and not(xs:boolean(@abstract) eq true())]
                       /xs:annotation/xs:documentation[1]">
      <report role="warning" test="not(matches(lower-case(normalize-space(.)), '^an?( .*)? (image|picture|photograph)'))"
        >Rule 7-52: The data definition for a property with a picture representation term SHOULD begin with the standard opening phrase "An (optional adjectives) (image|picture|photograph)".</report>
    </rule>
  </pattern>
