sch/rule/7-8.xml

  <!-- NDR6 rule 7-8 (same as NDR5 rule 11-8) -->
  <pattern id="rule7-8" xmlns="http://purl.oclc.org/dsdl/schematron">
    <title>Names ending in "CodeSimpleType"</title>
    <rule context="xs:simpleType[exists(@name)
       and (xs:restriction/xs:enumeration
            or xs:restriction[ends-with(local-name-from-QName(resolve-QName(@base, .)), 'CodeSimpleType')])]">
      <assert test="ends-with(@name, 'CodeSimpleType')"
        >Rule 7-8: A Datatype object with a name that ends in "CodeSimpleType" MUST be a code list datatype.</assert>
    </rule>
  </pattern>
