sch/rule/8-15.xml

  <!-- NDR6 rule 8-15 -->
  <pattern id="rule8-15" xmlns="http://purl.oclc.org/dsdl/schematron">
    <title>Subset namespace asserts conformance</title>
    <rule context="*[. is nf:get-document-element(.)]">
      <assert test="nf:has-effective-conformance-target-identifier(., xs:anyURI('https://docs.oasis-open.org/niemopen/ns/specification/NDR/6.0/#SubsetSchemaDocument'))"
        >Rule 8-15: A subset namespace must assert the conformance target identifier https://docs.oasis-open.org/niemopen/ns/specification/NDR/6.0/#SubsetSchemaDocument.</assert>
    </rule>
  </pattern>
