sch/rule/9-14a.xml

  <!-- NDR6 rule 9-14 (same as NDR5 rule 9-40) -->
  <pattern id="rule9-14a" xmlns="http://purl.oclc.org/dsdl/schematron">
    <title>Element type not in the XML or XML Schema namespace</title>
    <rule context="xs:element[exists(@type)]">
      <assert test="for $type-qname in resolve-QName(@type, .) return
                         $type-qname = xs:QName('xs:anySimpleType')
                         or namespace-uri-from-QName($type-qname) != xs:anyURI('http://www.w3.org/2001/XMLSchema')"
        >Rule 9-14: An element type MUST NOT be in the XML Schema namespace or the XML namespace.</assert>
    </rule>
  </pattern>
