sch/rule/9-17c.xml

  <!-- NDR6 rule 9-17 (same as NDR5 rule 9-57) -->
  <pattern id="rule9-17c" xmlns="http://purl.oclc.org/dsdl/schematron">
    <title>No default or fixed value</title>
    <rule context="xs:attribute">
      <assert test="empty(@default)"
        >Rule 9-17: An attribute or element declaration MUST NOT have an attribute {}default or {}fixed.</assert>
    </rule>
  </pattern>
