sch/rule/9-29b.xml

  <!-- NDR6 rule 9-29 (same as NDR5 rule 9-25) -->
  <pattern id="rule9-29b" xmlns="http://purl.oclc.org/dsdl/schematron">
    <title>Type definition is top-level</title>
    <rule context="xs:complexType">
      <assert test="exists(parent::xs:schema)"
        >Rule 9-29: A type definition MUST be top-level.</assert>
    </rule>
  </pattern>
