sch/rule/9-44a.xml

  <!-- NDR6 rule 9-44 (same as NDR5 rule 11-13) -->
  <pattern id="rule9-44a" xmlns="http://purl.oclc.org/dsdl/schematron">
    <title>Attribute and element type is from conformant namespace</title>
    <rule context="xs:element[exists(@type)]">
      <assert test="for $type-qname in resolve-QName(@type, .),
                           $type-namespace in namespace-uri-from-QName($type-qname) return
                         $type-namespace = nf:get-target-namespace(.)
                         or exists(nf:get-document-element(.)/xs:import[
                                     xs:anyURI(@namespace) = $type-namespace
                                     and empty(@appinfo:externalImportIndicator)])"
        >Rule 9-44: The type definition of an attribute or element declaration MUST have a target namespace that is the target namespace, or a namespace that is imported as conformant.</assert>
    </rule>
  </pattern>
