sch/rule/9-47.xml

  <!-- NDR6 rule 9-47 -->
  <pattern id="rule9-47" xmlns="http://purl.oclc.org/dsdl/schematron">
    <title>Only reference attributes have type xs:IDREFS</title>
    <rule context="xs:attribute[exists(@type)]">
      <assert test="(resolve-QName(@type, .) = xs:QName('xs:IDREFS')) =
                    (@appinfo:referenceAttributeIndicator = 'true')"
        >Rule 9-47: The attribute declaration of a reference attribute MUST have type `xs:IDREFS`; all other components MUST NOT.</assert>
    </rule>
  </pattern>
