sch/rule/9-50.xml

  <!-- NDR6 rule 9-50 -->
  <pattern id="rule9-50" xmlns="http://purl.oclc.org/dsdl/schematron">
    <title>Prohibited attribute types</title>
    <rule context="xs:attribute[exists(@type)]">
      <assert test="(resolve-QName(@type, .) = xs:QName('xs:IDREFS')) =
                    (@appinfo:referenceAttributeIndicator = 'true')"
        >Rule 9-50: The attribute declaration of a reference attribute MUST have type `xs:IDREFS`; all other components MUST NOT.</assert>
    </rule>
  </pattern>
