sch/rule/9-51.xml

  <!-- NDR6 rule 9-51 (same as NDR5 rule 10-7) -->
  <pattern id="rule9-51" xmlns="http://purl.oclc.org/dsdl/schematron">
    <title>Import of external namespace has data definition</title>
    <rule context="xs:import[@appinfo:externalImportIndicator]">
      <assert test="some $definition in xs:annotation/xs:documentation[1] satisfies
                         string-length(normalize-space(string($definition))) &gt; 0"
        >Rule 9-51: An xs:import element importing an external schema document MUST be a documented component.</assert>
    </rule>
  </pattern>
