sch/rule/9-54.xml

  <!-- NDR6 rule 9-54 (same as NDR5 rule 10-9) -->
  <pattern id="rule9-54" xmlns="http://purl.oclc.org/dsdl/schematron">
    <title>Structure of external adapter type definition follows pattern</title>
    <rule context="xs:complexType[@appinfo:externalAdapterTypeIndicator]">
      <assert test="xs:complexContent/xs:extension[
                         resolve-QName(@base, .) = xs:QName('structures:ObjectType')
                       ]/xs:sequence"
        >Rule 9-54: An adapter type definition MUST be a complex type definition with complex content that extends structures:ObjectType, and that uses xs:sequence as its top-level compositor.</assert>
    </rule>
  </pattern>
