sch/rule/9-56a.xml

  <!-- NDR6 rule 9-56 (same as NDR5 rule 10-11) -->
  <pattern id="rule9-56a" xmlns="http://purl.oclc.org/dsdl/schematron">
    <title>External adapter type not a base type</title>
    <rule context="xs:*[(self::xs:extension or self::xs:restriction)
      and (some $base-qname in resolve-QName(@base, .),
      $base-namespace in namespace-uri-from-QName($base-qname) satisfies
      nf:get-target-namespace(.) = $base-namespace)]">
      <assert test="nf:resolve-type(., resolve-QName(@base, .))[
        empty(@appinfo:externalAdapterTypeIndicator)]"
        >Rule 9-56: An adapter type definition MUST NOT be a base type definition.</assert>
    </rule>
  </pattern>
