sch/rule/9-5a.xml

  <!-- NDR6 rule 9-5 (same as NDR5 rule 9-59) -->
  <pattern id="rule9-5a" xmlns="http://purl.oclc.org/dsdl/schematron">
    <title>Prohibited schema components</title>
    <rule context="xs:notation">
      <assert test="false()"
        >Rule 9-5: A schema document MUST NOT contain xs:notation.</assert>
    </rule>
  </pattern>
