sch/rule/9-5d.xml

  <!-- NDR6 rule 9-5 (same as NDR5 rule 9-73) -->
  <pattern id="rule9-5d" xmlns="http://purl.oclc.org/dsdl/schematron">
    <title>Prohibited schema components</title>
    <rule context="xs:key">
      <assert test="false()"
        >Rule 9-5: A schema document MUST NOT contain xs:key.</assert>
    </rule>
  </pattern>
