sch/rule/9-5e.xml

  <!-- NDR6 rule 9-5 (same as NDR5 rule 9-74) -->
  <pattern id="rule9-5e" xmlns="http://purl.oclc.org/dsdl/schematron">
    <title>Prohibited schema components</title>
    <rule context="xs:keyref">
      <assert test="false()"
        >Rule 9-5: A schema document MUST NOT contain xs:keyref.</assert>
    </rule>
  </pattern>
