sch/rule/9-61.xml

  <!-- NDR6 rule 9-61 (same as NDR5 rule 10-20) -->
  <pattern id="rule9-61" xmlns="http://purl.oclc.org/dsdl/schematron">
    <title>Proxy type has designated structure</title>
    <rule context="xs:complexType[some $name in @name,
      $extension in xs:simpleContent/xs:extension,
      $base-qname in resolve-QName($extension/@base, $extension) satisfies
      $base-qname = QName('http://www.w3.org/2001/XMLSchema', $name)]">
      <assert test="xs:simpleContent[
        xs:extension[
        empty(xs:attribute)
        and count(xs:attributeGroup) = 1
        and xs:attributeGroup[
        resolve-QName(@ref, .) = xs:QName('structures:SimpleObjectAttributeGroup')]]]"
        >A proxy type MUST have the designated structure. It MUST use xs:extension. It MUST NOT use xs:attribute. It MUST include exactly one xs:attributeGroup reference, which must be to structures:SimpleObjectAttributeGroup.</assert>
    </rule>
  </pattern>
