sch/rule/9-63.xml

  <!-- NDR6 rule 9-63 (same as NDR5 rule 11-44) -->
  <pattern id="rule9-63" xmlns="http://purl.oclc.org/dsdl/schematron">
    <title>Standard opening phrase for augmentation type data definition</title>
    <rule context="xs:complexType[ends-with(@name, 'AugmentationType')]/xs:annotation/xs:documentation[1]">
      <report role="warning" test="not(matches(lower-case(normalize-space(.)),
                           '^a data type (that supplements|for additional information about)'))"
        >Rule 9-63: The data definition for an augmentation type SHOULD begin with the standard opening phrase "A data type (that supplements|for additional information about)...".</report>
    </rule>
  </pattern>
