sch/rule/9-6d.xml

  <!-- NDR6 rule 9-6 (same as NDR5 rule 9-4) -->
  <pattern id="rule9-6d" xmlns="http://purl.oclc.org/dsdl/schematron">
    <title>Prohibited base types</title>
    <rule context="xs:*[exists(@base)]">
      <assert test="resolve-QName(@base, .) != xs:QName('xs:IDREFS')"
        >Rule 9-6: A schema component MUST NOT have an attribute {}base with a value of any of xs:IDREFS.</assert>
    </rule>
  </pattern>
