sch/rule/9-71.xml

  <!-- NDR6 rule 9-71 (same as NDR5 rule 10-28) -->
  <pattern id="rule9-71" xmlns="http://purl.oclc.org/dsdl/schematron">
    <title>Augmentation point element is only referenced by its base type</title>
    <rule context="xs:complexType//xs:element[exists(@ref[
      matches(local-name-from-QName(resolve-QName(., ..)), 'AugmentationPoint$')]) ]">
      <assert test="QName(string(nf:get-target-namespace(ancestor::xs:complexType[1])), ancestor::xs:complexType[1]/@name)
        = QName(string(namespace-uri-from-QName(resolve-QName(@ref, .))),
        replace(local-name-from-QName(resolve-QName(@ref, .)), 'AugmentationPoint$', 'Type'))"
        >Rule 9-71: An augmentation point element MUST only be referenced by its base type.</assert>
    </rule>
  </pattern>
