sch/rule/9-75.xml

  <!-- NDR6 rule 9-75 (same as NDR5 rule 9-79) -->
  <pattern id="rule9-75" xmlns="http://purl.oclc.org/dsdl/schematron">
    <title>`xs:appinfo` children are comments, elements, or whitespace</title>
    <rule context="xs:appinfo/node()">
      <assert test="self::comment()
                       or self::element()
                       or self::text()[string-length(normalize-space(.)) = 0]"
        >Rule 9-75: A child of element xs:appinfo MUST be an element, a comment, or whitespace text.</assert>
    </rule>
  </pattern>
