sch/rule/9-7b.xml

  <!-- NDR6 rule 9-7 (same as NDR5 rule 9-16) -->
  <pattern id="rule9-7b" xmlns="http://purl.oclc.org/dsdl/schematron">
    <title>Prohibited list item types</title>
    <rule context="xs:*[exists(@itemType)]">
      <assert test="resolve-QName(@itemType, .) != xs:QName('xs:IDREF')"
        >Rule 9-7: A schema component MUST NOT have an attribute {}itemType with a value of xs:IDREF.</assert>
    </rule>
  </pattern>
