sch/rule/9-80.xml

  <!-- NDR6 rule 9-80 (same as NDR5 rule 10-69) -->
  <pattern id="rule9-80" xmlns="http://purl.oclc.org/dsdl/schematron">
    <title>Appinfo attribute annotates schema component</title>
    <rule context="*[exists(@appinfo:deprecated)]">
      <assert test="namespace-uri-from-QName(node-name(.)) = xs:anyURI('http://www.w3.org/2001/XMLSchema')"
        >Rule 9-80: An attribute in the appinfo namespace MUST be owned by an element with a namespace name http://www.w3.org/2001/XMLSchema .</assert>
    </rule>
  </pattern>
