sch/rule/9-82c.xml

  <!-- NDR6 rule 9-82 (same as NDR5 rule 9-86) -->
  <pattern id="rule9-82c" xmlns="http://purl.oclc.org/dsdl/schematron">
    <title>No disallowed substitutions</title>
    <rule context="xs:schema">
      <assert test="empty(@blockDefault)"
        >Rule 9-82: A reference schema document MUST NOT contain the attribute {}block or {}blockDefault.</assert>
    </rule>
  </pattern>
