sch/rule/9-85.xml

  <!-- NDR6 rule 9-85 (same as NDR5 rule 10-76) -->
  <pattern id="rule9-85" xmlns="http://purl.oclc.org/dsdl/schematron">
    <title>LocalTerm appinfo applies to schema</title>
    <rule context="appinfo:LocalTerm">
      <assert test="parent::xs:appinfo[parent::xs:annotation[parent::xs:schema]]"
        >Rule 9-85: When the element appinfo:LocalTerm appears in a schema document, it MUST be application information on an element xs:schema.</assert>
    </rule>
  </pattern>
