sch/rule/9-86.xml

  <!-- NDR6 rule 9-86 (same as NDR5 rule 9-11) -->
  <pattern id="rule9-86" xmlns="http://purl.oclc.org/dsdl/schematron">
    <title>No simple type disallowed derivation</title>
    <rule context="xs:simpleType">
      <assert test="empty(@final)"
        >Rule 9-86: A reference schema document MUST NOT have an attribute {}final.</assert>
    </rule>
  </pattern>
