sch/rule/9-87a.xml

  <!-- NDR6 rule 9-87 (same as NDR5 rule 9-34) -->
  <pattern id="rule9-87a" xmlns="http://purl.oclc.org/dsdl/schematron">
    <title>No disallowed substitutions</title>
    <rule context="xs:complexType">
      <assert test="empty(@block)"
        >Rule 9-87: A reference schema document MUST NOT contain the attribute {}block or {}blockDefault.</assert>
    </rule>
  </pattern>
