sch/rule/9-89b.xml

  <!-- NDR6 rule 9-89 (same as NDR5 rule 9-44) -->
  <pattern id="rule9-89b" xmlns="http://purl.oclc.org/dsdl/schematron">
    <title>No disallowed derivation</title>
    <rule context="xs:element">
      <assert test="empty(@final)"
        >Rule 9-89: A reference schema document MUST NOT contain the attribute {}final or {}finalDefault.</assert>
    </rule>
  </pattern>
