sch/rule/9-94.xml

  <!-- NDR6 rule 9-94 (same as NDR5 rule 9-47) -->
  <pattern id="rule9-94" xmlns="http://purl.oclc.org/dsdl/schematron">
    <title>Element declaration is nillable</title>
    <rule context="xs:element[@name and (empty(@abstract)
                                            or xs:boolean(@abstract) = false())]">
      <assert test="exists(@nillable)
                       and xs:boolean(@nillable) = true()"
        >Rule 9-94: An element declaration in an extension schema document MUST have the {nillable} property with a value of true.</assert>
    </rule>
  </pattern>
