sch/rule/9-9c.xml

  <!-- NDR6 rule 9-9 (same as NDR5 rule 9-53) -->
  <pattern id="rule9-9c" xmlns="http://purl.oclc.org/dsdl/schematron">
    <title>Prohibited attribute types</title>
    <rule context="xs:attribute[exists(@type)]">
      <assert test="resolve-QName(@type, .) != xs:QName('xs:IDREFS')"
        >Rule 9-9: A schema component MUST NOT have an attribute {}type with a value of xs:IDREFS.</assert>
    </rule>
  </pattern>
