sch/rule/9-9d.xml

  <!-- NDR6 rule 9-9 (same as NDR5 rule 9-54) -->
  <pattern id="rule9-9d" xmlns="http://purl.oclc.org/dsdl/schematron">
    <title>Prohibited attribute types</title>
    <rule context="xs:attribute[exists(@type)]">
      <assert test="resolve-QName(@type, .) != xs:QName('xs:ENTITY')"
        >Rule 9-9: A schema component MUST NOT have an attribute {}type with a value of xs:ENTITY.</assert>
    </rule>
  </pattern>
