sch/rtest/9-47.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  targetNamespace="http://example.com/testSchema/"
  xmlns:appinfo="https://docs.oasis-open.org/niemopen/ns/model/appinfo/6.0/"
  xmlns:ct="https://docs.oasis-open.org/niemopen/ns/specification/conformanceTargets/6.0/"
  xmlns:nc="https://docs.oasis-open.org/niemopen/ns/model/niem-core/6.0/"
  xmlns:niem-xs="https://docs.oasis-open.org/niemopen/ns/model/adapters/niem-xs/6.0/"
  xmlns:structures="https://docs.oasis-open.org/niemopen/ns/model/structures/6.0/"
  xmlns:ts="http://example.com/testSchema/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  ct:conformanceTargets="https://docs.oasis-open.org/niemopen/ns/specification/NDR/6.0/#ReferenceSchemaDocument"
  version="ps02"
  xml:lang="en-US">
  <xs:annotation>
    <xs:documentation>Rule 9-47: The attribute declaration of a reference attribute property MUST have type xs:IDREFS; all other attribute and element declarations MUST NOT.</xs:documentation>
  </xs:annotation>
  <xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/adapters/niem-xs/6.0/" schemaLocation="niem/adapters/niem-xs.xsd"/>
  <xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/structures/6.0/" schemaLocation="niem/utility/structures.xsd"/>

  <xs:attribute name="myRefAtt" appinfo:referenceAttributeIndicator = "true" type="xs:IDREFS"/>
  <xs:attribute name="notRefAtt" type="xs:boolean"/>

  <!--ERROR--><xs:attribute name="myRefAtt2" type="xs:IDREFS"/>
  <!--ERROR--><xs:attribute name="notRefAtt2" appinfo:referenceAttributeIndicator = "true" type="xs:boolean"/>

</xs:schema>
